/* бекграунд героя #2F303A */

/* бекграунд вторичный #F5F4FA */

/* цвет сновного текста  #757575 */

/* вторичный цветт текста #212121 */

/* белый цвет #FFFFFF */

/* акцент #2196F3 */

/* цвет адерс футер rgba(255, 255, 255, 0.6) */

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --bacground-primary-color: #ffffff;
  --taiming-function: cubic-bezier(0.4, 0, 0.2, 1);
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;

  background-color: var(--bacground-primary-color);
  color: var(--primary-text-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

textarea {
  resize: none;
}

/* Логотип */

.logo {
  margin-right: 93px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--accent-color);
  text-decoration: none;
}

.logo-main {
  color: var(--title-text-color);
}

/*  Навигация сайта */

.header {
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #ececec;
}

.main-nav {
  display: flex;
  align-items: center;
}

.site-nav {
  display: flex;
}

.site-nav .item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  position: relative;
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--title-text-color);
  text-decoration: none;

  transition: color 250ms var(--taiming-function);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.site-nav .link.current::after {
  position: absolute;
  top: 96%;
  left: 0;
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;

  background-color: var(--accent-color);
}

.auth-nav {
  display: flex;
  margin-left: auto;
}

.auth-nav .item:not(:last-child) {
  margin-right: 50px;
}

.auth-nav .link {
  display: flex;
  align-content: center;
  align-items: center;

  padding-top: 32px;
  padding-bottom: 32px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;

  color: var(--primary-text-color);
  text-decoration: none;

  transition: color 250ms var(--taiming-function);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

.icon {
  margin-right: 10px;
  fill: currentColor;
}

/* Герой */

.hero {
  max-width: 1600px;
  height: 600px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;

  text-align: center;

  background-color: #c4c4c4;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../image/main/hero.jpg);
  background-position: center;
}

.hero-title {
  width: 696px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: #ffffff;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;
  z-index: 10;

  background-color: rgba(0, 0, 0, 0.2);

  opacity: 1;
  transition: opacity 250ms var(--taiming-function),
    visibility 250ms var(--taiming-function);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.7);
}

.modal {
  position: absolute;
  left: 50%;
  top: 50%;

  padding: 44px 40px 36px 40px;

  width: 528px;
  height: 581px;

  background-color: #fff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms var(--taiming-function);
}

.modal-btn {
  position: absolute;
  top: 8px;
  right: 8px;

  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;

  width: 30px;
  height: 30px;

  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;

  cursor: pointer;

  transition: fill 250ms var(--taiming-function);
}

.modal-btn:hover,
.modal-btn:focus {
  fill: var(--accent-color);
}

/* Форма */

.form {
  margin-left: auto;
  margin-right: auto;
}

.form-title {
  display: block;
  margin-bottom: 12px;

  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;

  color: #212121;
}

.form-group {
  display: block;

  margin-bottom: 10px;
}

.form-lable {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  text-align: left;

  color: var(--primary-text-color);
}

.form-input {
  padding: 12px 5px 12px 42px;

  width: 100%;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;

  cursor: pointer;
  outline: transparent;

  transition: border 250ms var(--taiming-function);
}

.form-input:focus,
.form-comment:focus {
  border: 1px solid var(--accent-color);
}

.form-field {
  position: relative;
}

.form-icon {
  position: absolute;
  left: 12px;
  top: 50%;

  transform: translateY(-50%);
  transition: fill 250ms var(--taiming-function);
}

.form-input:focus ~ .form-icon {
  fill: var(--accent-color);
}

.form-textarea {
  display: block;
  margin-bottom: 20px;
}

.form-comment {
  display: block;
  height: 120px;

  padding: 12px 16px;
  width: 100%;

  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: transparent;

  resize: none;
  cursor: pointer;
}

.form-comment::placeholder {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.14;
  letter-spacing: 0.01em;

  color: rgba(117, 117, 117, 0.5);
}

.form-policy {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}

.policy-text {
  font-size: 14px;
  line-height: 1.71;

  letter-spacing: 0.03em;
}

.policy-doc {
  color: var(--accent-color);
}

.custom-checkbox {
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 8px;

  border: 2px solid #212121;
  border-radius: 2px;

  transition: border-color 250ms var(--taiming-function);
}

.checkbox:focus + .custom-checkbox {
  border-color: var(--accent-color);
}

.checkbox:checked + .custom-checkbox {
  border-color: var(--accent-color);
  background-color: var(--accent-color);
  background-image: url(../image/icon/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.form-btn {
  padding: 10px 55px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  cursor: pointer;

  background: #188ce8;
  color: #fff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
}

/* Кнопки */

.hero-btn {
  padding: 10px 30px;
  border-color: transparent;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  cursor: pointer;

  color: #ffffff;
  background-color: var(--accent-color);

  transform: box-shadow 250ms var(--taiming-function);
}

.hero-btn:hover,
.hero-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.portfolio-btn .btn {
  border-color: transparent;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;

  color: var(--title-text-color);
  background-color: #f5f4fa;

  transition: color 250ms var(--taiming-function),
    background-color 250ms var(--taiming-function),
    box-shadow 250ms var(--taiming-function);
}

.portfolio-btn .btn:hover,
.portfolio-btn .btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* Секции мейна*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.section {
  padding: 94px 0;
}

.section-works {
  padding-bottom: 94px;
}

.section-title {
  margin-bottom: 50px;

  font-size: 36px;
  line-height: 1.17;
  text-align: center;

  color: var(--title-text-color);
}

/* Секция наши особенности */

.feature-list {
  display: flex;
}

.feature-list .title {
  margin-bottom: 10px;

  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  color: var(--title-text-color);
}

.feature-list .text {
  font-size: 14px;
  line-height: 1.71;
}

.feature-list .item {
  flex-basis: calc((100% - 90px) / 4);
}

.feature-list .item:not(:last-child) {
  margin-right: 30px;
}

.feature-icon {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 30px;

  width: 270px;
  height: 120px;

  border-radius: 4px;
  background-color: #f5f4fa;
}

/* Секция наши работы */

.works-list {
  display: flex;
}

.works-list .item {
  flex-basis: calc(100% / 3);
}

.works-list .item:not(:last-child) {
  margin-right: 30px;
}

.works-list .item {
  position: relative;
}

.works-list .item-text {
  position: absolute;
  bottom: 0;
  left: 0;

  content: "";
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 70px;

  font-size: 14px;
  font-weight: 700;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #fff;
  background-color: rgba(47, 48, 58, 0.8);
}

/* Секция команда */

.team-list {
  display: flex;
}

.team-list .item,
.team-list .card-content {
  border-radius: 0 0 4px 4px;
}

.team-list .item {
  flex-basis: calc((100% - 90px) / 4);
  text-align: center;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.team-list .item:not(:last-child) {
  margin-right: 30px;
}

.team-list .title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;

  color: var(--title-text-color);
}

.team-list .text {
  margin-top: 10px;
  margin-bottom: 10px;
  line-height: 1.19;
}

.team {
  background-color: #f5f4fa;
}

.card-content {
  padding: 30px 0;

  background-color: var(--bacground-primary-color);
}

/* Иконки соц.сети */

.socials {
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--bacground-primary-color);
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;

  transition: background-color 250ms var(--taiming-function);
}

.socials-icon {
  fill: #afb1b8;

  transition: fill 250ms var(--taiming-function);
}

.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: #ffffff;
}

.socials-link:hover,
.socials-link:focus {
  background-color: var(--accent-color);
}

/* Постоянные клиенты */

.clients-list {
  display: flex;
}

.clients {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 170px;
  height: 92px;

  border-radius: 4px;
  border: 1px solid #afb1b8;

  transition: border-color 250ms var(--taiming-function);
}

.clients-item:not(:last-child) {
  margin-right: 30px;
}

.clients-icon {
  fill: #afb1b8;

  transition: fill 250ms var(--taiming-function);
}

.clients:hover,
.clients:focus {
  border-color: var(--accent-color);
}

.clients:hover .clients-icon,
.clients:focus .clients-icon {
  fill: var(--accent-color);
}

/* секция портфолио */

.portfolio-nav {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-nav .item:not(:last-child) {
  margin-right: 8px;
}

.works {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.works .item {
  margin-left: 30px;
  margin-top: 30px;
  flex-basis: calc((100% - 90px) / 3);
}

.works .link {
  text-decoration: none;
  display: block;

  transition: box-shadow 250ms var(--taiming-function);
}

.works .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;

  color: var(--title-text-color);
}

.works .text {
  margin-top: 4px;
  line-height: 1.88;

  color: var(--primary-text-color);
}

.works .link:hover,
.works .link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.works .card-content {
  padding: 20px 24px;

  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #eeeeee;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #eeeeee;

  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #eeeeee;
}

.works-thumb {
  position: relative;

  overflow: hidden;
}

.text-thumb {
  position: absolute;
  content: "";

  padding: 63px 24px;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;

  color: #fff;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(101%);
  transition: transform 250ms var(--taiming-function);
}

.works .link:hover .text-thumb,
.works .link:focus .text-thumb {
  transform: translateY(0);
}

/* Подвал */

.footer-contaiter {
  display: flex;
  align-items: baseline;
}

.footer {
  padding: 60px 0;

  background-color: #2f303a;
}

.logo-ft {
  display: block;
  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;

  color: var(--accent-color);
  text-decoration: none;
}

.logo-text {
  color: #fff;
}

.adr {
  margin-bottom: 9px;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;

  color: #fff;
}

.mail:not(:last-child) {
  margin-bottom: 9px;
}

.footer-auth .link {
  font-size: 14px;
  line-height: 1.71;

  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;

  transition: color 250ms var(--taiming-function);
}

.footer-auth .link:focus,
.footer-auth .link:hover {
  color: var(--accent-color);
}

.logo-section {
  margin-right: 70px;
}

/* Присоеденяйтесь */

.join-section {
  display: ;
}

.join-tittle {
  margin-bottom: 20px;

  font-size: 14px;

  color: #fff;
  text-transform: uppercase;
}

.join-list {
  display: flex;
  align-items: center;
}

.join-item:not(:last-child) {
  margin-right: 10px;
}

.join-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  border-radius: 50%;

  fill: #fff;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms var(--taiming-function);
}

.join-link:hover,
.join-link:focus {
  background-color: var(--accent-color);
}

/* Форма "подпишитесь" */

.form-footer {
  margin-left: 93px;
}

.form-footer-box {
  display: flex;
}

.form-footer-title {
  display: block;
  margin-bottom: 20px;

  font-size: 14px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.form-footer-field {
  display: block;
  width: 358px;
  padding: 15px 16px;

  color: #fff;
  background-color: inherit;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;

  outline: transparent;
}

.form-footer-btn {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 10px 29px;
  margin-left: 12px;

  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: #fff;
  background: var(--accent-color);
  border-color: transparent;

  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
}

.form-footer-icon {
  margin-left: 10px;
}
